@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

.logo svg {
  fill: #fff;
}

.star, .intro {
  animation-timeline: scroll();
}

#services {
  animation-timeline: view();
  /* animation-range-start: entry; */
}

.animate-text-reveal {
  animation-timeline: view();
  animation-range-start: 150px;
  animation-range-end: 300px;
}

.before\:animate-scroll-down::before {
  transform-origin: top left;
}

/* .work-card:nth-of-type(1) {
  grid-column: 1 / span 6;
}

.work-card:nth-of-type(2) {

} */