@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

.logo svg {
  fill: #fff;
}

.star, .intro {
  animation-timeline: scroll();
}

.before\:animate-scroll-down::before {
  transform-origin: top left;
}

/* .work-card:nth-of-type(1) {
  grid-column: 1 / span 6;
}

.work-card:nth-of-type(2) {

} */